.footer {
	background-color: #f9f9f9;	
	padding: 16px 0;
    border-top: 0.8px solid #e5e5e5;
}

.footer-upper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 16px;
}

.footer-nav a, .footer-gototop a {
	display: block;
	padding-bottom: 4px;
	color: #007bff;
    text-decoration: none;
}

.footer-nav a:hover, .footer-gototop a:hover {
	color: #0050A6;
    text-decoration: underline;
}

.footer-social {
	text-align: center;
	margin: 16px 0;
}

.footer-social a {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: white;	
	margin: 0 5px;
}

.social-facebook {
	background-image: url(../images/facebook.svg);
}

.social-instagram {
	background-image: url(../images/instagram.svg);
}

.social-vk {
	background-image: url(../images/vk.svg);
}

.footer-lower {
	color: #909090;
	text-align: center;
}

@media screen and (max-width: 576px) {
	.footer-upper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	
	.footer-social {
		text-align: left;
	}
}